:root {
    --font-display: 'Philosopher', sans-serif; // normal and ital, 400 and 700
    --font-primary: 'Roboto Mono', monospace; // normal 300, 500 and 700

    --color-font-primary: #ffffff;
    --color-font-tour-viewer: #a4a4a4;
    --color-font-icons: #9bd8ee;


    --color-primary-blue: #127fa6;
    --color-primary-blue-middle: #299fca;
    --color-primary-blue-light: #7ebee0;
    --color-blue-navigation: #4cb2e7;
    --color-blue-side: #299fca;
    --color-active-tab: #81ffff;
    --color-passive-tab: #299fca;
    --color-yellow: #ded90e;
    --color-white: #fff;
    --color-grey: #d6e6ef;
    --color-grey-dark: #6e6e6e;
    --color-btn-blue: #1897c5;
    --color-tour-viewer: #e6e2e2;
    --color-scrollbar: #949292;
    --color-input-field: #0f6686;
    --color-map-background: #d6e6ef;
    --color-destinations-background: #127ea5;
    --color-icons-back: #3bb3de;
    --color-heading-back: #eadf1b;
    

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0,.7);
    --shadow-light: 0 0 5px rgba(0, 0, 0, .7);

    --line: 1px solid var(--color-grey-light-2);
}