.footer {
    background-color: var(--color-primary-blue);
    font-size: 1.2rem;
    font-weight: 300;
    font-style: normal;
    padding: 1rem 15rem 1rem 15rem;

    &__rights {
        display: flex;
        justify-content: center;
        align-items: center;

        &--text {
            display: flex;
            align-items: center;
        }

        &--text:not(:last-child) {
            margin-right: 3rem;
        }

        & .fa-copyright {
            margin-right: .5rem;
        }
    }

    & input, textarea {
        display: block;
        background-color: var(--color-input-field);
        border-radius: 7px;
        padding: .5rem 1rem;
        outline: none;
        border: none;
        //box-shadow: inset 0 0 15px rgba(14, 100, 133, 1);
        box-shadow: inset 0 7px 9px rgba(0,0,0, .3);

        &::placeholder {
            color: #5d98ae;
        }

        &:focus {
            outline: none;
        }
    }
}