.special-offers {
    margin-right: 8rem;
    width: 37rem;

    &__heading {
        font-size: 3rem;
        color: var(--color-font-primary);
        font-family: var(--font-display);
        font-weight: 400;
        font-style: italic;
        margin-bottom: 1.5rem;
    }

    &__offer {
        display: grid;
        grid-template-columns: 9rem 1fr;
        grid-template-rows: 7rem min-content;
        grid-gap: 1rem;

        &:not(:last-child){
            margin-bottom: 2rem;

            &::after {
                content: "";
                width: 100%;
                height: 0;
                border-bottom: 2px dotted var(--color-font-primary);
                grid-column: 1 / -1;
            }            
        }

       
    }

    &__img {
        width: 100%;
        height: auto;
        max-height: 100%;
        grid-area: 1 / 1 / 2 / 2;
        border: 3px solid var(--color-font-primary);
        border-radius: 5px;
        box-sizing: border-box;
    }

    &__text-content {
        grid-area: 1 / 2 / 2 / -1;
        color: var(--color-font-primary);
        font-weight: 400;

        &--text {
            font-size: 1.2rem;
            word-spacing: -2px;  
        }
    }

    &__container {
        grid-area: 2 / 1 / 3 / -1;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__price {
        font-family: var(--font-display);
        color: var(--color-font-primary);
        font-size: 3rem;
        margin-right: 1.5rem;
    }

    &__btn {
        padding: .2rem 1rem;
    }
}