.summer-offers {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__tab {
        display: flex;
        width: 95%;
        justify-content: flex-start;
        align-items: flex-end;
        background-image: url(../img/special-summer-offer.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto 100%;
        height: 10rem;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 1px;
        border-bottom: 1px solid var(--color-active-tab);
    }

    &__tab-btn {
        display: block;
        width: 12rem;
        padding: .3rem 0;
        background-color: var(--color-passive-tab);
        text-align: center;
        color: var(--color-active-tab);
        font-weight: 300;

        border-radius: 5px 5px 0 0;

        &,
        &:link,
        &:active {
            text-decoration: none;
            color: inherit;
        }

        &:not(:last-child) {
            margin-right: .7rem;
        }

        &--active {
            background-color: var(--color-active-tab);
            color: var(--color-passive-tab);
        }
    }

    &__offer {
        width: 100%;
        height: 10rem;
    }

    
}
