.tour-viewer {
    color: var(--color-font-tour-viewer);
    width: 27rem;
    height: 28rem;
    background: linear-gradient(to top, var(--color-tour-viewer) 0, var(--color-tour-viewer) 50%, var(--color-white));
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(0,0,0, .3);
    border: 1px solid var(--color-white);;
    padding: 2rem 1.3rem 1rem 1.3rem;

    margin-left: 24%;
    margin-top: 7%;

    display: flex;
    flex-direction: column;

    position: relative;


    &__container {
        overflow-x: hidden;
        overflow-y: auto;
        flex: 1;


        &::-webkit-scrollbar {
            //width: 1px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            width: 1rem;
            height: 3rem;
            background-color: var(--color-scrollbar);
            border: 3px solid transparent;
            border-radius: 9px;
            background-clip: content-box;
        }

        // &::-webkit-scrollbar-track {
        //     width: 1px;
        //     background-color: var(--color-scrollbar);
        //     border: 3px solid transparent;
        // }

        // &::-webkit-scrollbar-track {
        //     width: 1px;
        //     background-color: var(--color-scrollbar);
        // }
    }

    &__heading {
        font-size: 2rem;
        letter-spacing: -1px;
        margin-top: 1rem;
    }

    &__tour {
        display: flex;
        height: 6rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__img {
        border: 3px solid var(--color-font-primary);
        border-radius: 5px;
        box-sizing: border-box;
        width: 8rem;
        margin-right: .7rem;
    }

    &__text-content {
        text-align: left;
        padding-right: 1rem;

        &--heading {
            word-spacing: -5px;
            font-size: 1.3rem;
            font-weight: 700;
        }

        &--text {
            
            font-size: 1.2rem;
            word-spacing: -5px;  
            font-weight: 300;
        }
    }

    &::after {
        content: "";
        background-color: var(--color-tour-viewer);
        box-shadow: 0 0 7px rgba(0,0,0, .3);
        width: 9rem;
        height: 2rem;

        position: absolute;
        bottom: 6rem;
        left: 100%;
        clip-path: polygon(0 0, 100% 50%, 0 100%);
        transform: skewY(-33deg);
    }

    // Элемент ::before чуть больше по размеру, чем after и имеет белый фон. Это дает небольшую белую границу вокруг элемента ::after
    &::before {
        content: "";
        background-color: var(--color-white);
        box-shadow: 0 0 7px rgba(0,0,0, .3);
        width: 9.3rem;
        height: 2.3rem;

        position: absolute;
        bottom: 6rem;
        left: 100%;
        clip-path: polygon(0 0, 100% 50%, 0 100%);
        transform: skewY(-33deg);
    }


}
