.tour-with-photos {
    flex-basis: 75%;
    color: var(--color-grey-dark);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 4rem;

    &__tour {
        
        &--img {
            border: 7px solid var(--color-white);
            width: 100%;
            height: auto;
        }

        &--heading {
            font-family: var(--font-display);
            font-weight: 400;
            font-style: italic;
            font-size: 2rem;
            padding-left: .5rem;
            margin-bottom: 1rem;
        }

        &--text {
            font-size: 1.2rem;
            word-spacing: -5px;  
            font-weight: 300;
            padding-left: 1rem;
            margin-bottom: 1rem;
        }

        

        &--btn {
            padding: .2rem 1rem;
            margin-left: 1rem;
        }
    }
}