///------- ATTENTION -------///
// В Медиа запросах мы используем em.
// В медиа-запросах 1em=1rem=значению шрифта браузера по-умолчанию. Это 16px
// Также в медиа-запросах не работают переменных CSS, но для удобства написания кода мы зададим переменные средствами SASS

//////////////////////////////////////
/// Переменные SASS для MEDIA queries

$bp-largest: 75em;   // 1200px
$bp-large: 68.75em;  // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em;   // 600px
$bp-smallest: 31.25em;   // 500px



* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    // outline: 1px solid red;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px / browser default font-size is 16px / 16px*62.5% = 10px / The font-size of <html> is = 1rem */

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: var(--font-primary);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-font-primary);
    background-image: var(--color-grey);
    //overflow-x: hidden;
}