.border-animated {
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-style: solid;
        border-color: var(--color-font-primary);
        z-index: -1;

        transition: all .7s;
    }

    &::before {
        border-width: 1px 0 1px 0;
        transform: scaleX(0);
    }

    &::after {
        border-width: 0 1px 0 1px;
        transform: scaleY(0);
    }

    &:hover::before {
        transform: scaleX(1);
    }

    &:hover::after {
        transform: scaleY(1);
    }
}

